:root {
  --color-bg-page: #f4f2ee;
  --color-bg-card: #ffffff;
  --color-border-card: #e8e8e8;
  --color-border-row: #f2f2f2;

  /* text */
  --color-text-primary: #111111;
  --color-text-muted: #999999;
  --color-text-subtle: #bbbbbb;

  --border-radius-card: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: var(--color-bg-page);
  height: 100vh;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary,
.form,
.transactions {
  width: 100%;
  padding: 10px 0px;
}

/* transaction display */

.transactions {
  border: 0.5px solid var(--color-border-card);
  border-radius: var(--border-radius-card);
  background-color: var(--color-bg-card);
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 0.5px solid var(--color-border-row);
}

.transaction:last-child {
  border-bottom: none;
}

.transaction__item {
  width: 30px;
}

/* summary display */

.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 16px;
}

.summary__item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-card);
  padding: 14px;
  border: 0.5px solid var(--color-border-card);
  border-radius: var(--border-radius-card);
}

.summary__label {
  color: var(--color-text-muted);
  font-size: 11px;
}

.summary__value {
  color: var(--color-text-primary);
  font-size: 20px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form__title {
  width: 100%;
  max-width: 500px;
}
.form__group {
  width: 230px;
}

.btn--primary {
  align-self: center;
}

.btn,
#submit-btn {
  width: 300px;
  padding: 10px;
}

.btn:hover,
.transaction__delete {
  cursor: pointer;
}

.form__hidden {
  display: none;
}

.error {
  color: red;
}
