:root {
  --color-bg-page: #f4f2ee;
  --color-bg-card: #ffffff;
  --color-border-card: #e8e8e8;
  --color-border-row: #f2f2f2;

  /* text */
  --color-text-primary: #111111;
  --color-text-muted: #999999;
  --color-text-subtle: #bbbbbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: var(--color-bg-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.summary,
.form,
.transactions {
  width: 100%;
  max-width: 500px;
  padding: 10px 0px;
}

.transaction {
  display: flex;
  background-color: var(--color-bg-card);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 16px;
  width: 649px;
  height: 89px;
}

.summary__item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-card);
  padding: 14px;
  border: 0.5px solid var(--color-border-card);
  border-radius: 10px;
}

.transaction__item {
  width: 30px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form__title {
  width: 100%;
  max-width: 500px;
}
.form__group {
  width: 230px;
}

.btn,
#submit-btn {
  width: 300px;
  padding: 10px;
}

.btn:hover,
.transaction__delete {
  cursor: pointer;
}

.form__hidden {
  display: none;
}

.error {
  color: red;
}
