p {
  font-weight: bold;
}

body {
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  flex: 1;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 900;
  padding: 20px;
}

.recent {
  flex: 0 1 auto;
}
